.userContainer{
    width: 500px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 15px;
    border: 1px solid teal;
    border-radius: 10px;
}

.userContainer button{
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}